* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.section {
    margin: 300px 300px;
}

.background {
    position: relative;
    background-image: linear-gradient(to bottom, rgb(242, 36, 13), rgb(247, 165, 156));
    width: 100px;
    height: 120px;
    border-radius: 5px;
}

.foreground {
    position: absolute;
    background-image: linear-gradient(to top, rgb(242, 36, 13), rgb(247, 165, 156));
    width: 90px;
    height: 110px;
    right: 5px;
    top: 5px;
    border-radius: 5px;
}